.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;

}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-post {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: lightgray;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#prevBtn,
#nextBtn {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.active-dot {
    background-color: red;
    width: 15px;
    height: 15px;
}